.app {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;

}
.app__content {
  max-width: 860px;
  margin: 92px auto;

}
.app__search {
  display: flex;
  justify-content: space-between;
  

}

.app__cards {

}